* {
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

nav ul{
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

li h1{
    color: #6C96FF;
    font-size: 60px;
}

main{
    margin-top: 60px;
    margin-bottom: 202px;
}

#calculator{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 20px 300px;
    padding: 50px;
    border-radius: 30px;
}

h2{
    text-align: center;
    color: #6C96FF;
}

#text {
    margin-top: 20px;
}

#weight{
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 550px;
    height: 25px;
}

#height{
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 550px;
    height: 25px;
}

button{
    border-radius: 8px;
    border: none;
    color: white;
    background-color: rgb(128, 128, 240);
    width: 175px;
    height: 25px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(67, 67, 255);
}

#calculate{
    margin-left: 90px;
}

#output{
    text-align: center;
}

footer{
    margin-top: 64px;
    padding-left: 59px;
    padding-right: 31.31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    color: #E3E3E3;
    background-color: #6C96FF;
}